[Desktop Entry]
Encoding=UTF-8
Name=Odex
Comment=Odex P2P Cryptocurrency
Comment[fr]=Odex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Odex, eşten eşe kriptografik sanal para birimi
Exec=odex-qt %u
Terminal=false
Type=Application
Icon=odex128
MimeType=x-scheme-handler/odex;
Categories=Office;Finance;
