[Unit]
Description=Odex's distributed currency daemon
After=network.target

[Service]
User=odex
Group=odex

Type=forking
PIDFile=/var/lib/odexd/odexd.pid

ExecStart=/usr/bin/odexd -daemon -pid=/var/lib/odexd/odexd.pid \
          -conf=/etc/odex/odex.conf -datadir=/var/lib/odexd

ExecStop=-/usr/bin/odex-cli -conf=/etc/odex/odex.conf \
         -datadir=/var/lib/odexd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
